[2017-11-16 00:03] mrmcwethy opened #2 "This project is supposed to be in the bundle, but it is being ignored by build process"
The build-bundle.py build script ignores all  subdirectories unless there is a file `__init__.py` in the subdirectory.  I tried to build the bundle and this library did NOT get included, because it needs that special file.

[2017-11-18 13:57] mrmcwethy commented on #2
I have a fix pushed.  Added __init__.py to subdirectory

[2017-11-20 19:25] caternuson commented on #2
#3 merged. reopen if that doesn't fix.

[2017-11-20 19:25] #2 closed

[2018-01-17 02:16] caternuson opened #6 "Add examples folder"
Add examples folders and example(s).

[2018-01-21 23:05] #6 closed

[2018-07-02 23:17] caternuson opened #11 "ADC conversion timing issue for ADS1115"
It takes two reads to get the current value using an ADS1115.
[code]
This timing kludge (ported from Arduino version of lib) isn't working:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/adafruit_ads1x15/adafruit_ads1x15.py#L197
Also see general issue with timing resolution:
https://github.com/adafruit/circuitpython/issues/429

Need to either increase the delay, or better y

[2018-07-03 00:43] ladyada commented on #11
lets just poll, wanna add that?

[2018-07-03 02:28] caternuson commented on #11
Works. Was thinking of adding a timeout to the poll loop. But for now, it's just a crazy simple loop.

[2018-07-10 20:44] #11 closed

[2018-10-02 19:01] caternuson opened #15 "Change asserts to raised errors."
Change the assert checks to raise an appropriate Error along with helpful message.

[2018-10-04 14:43] iBug commented on #15
I just did this in #16 , can you assign this issue to me?

BTW, what is the Python version (2 or 3)? That matters.

[2018-10-04 16:49] #15 closed

[2018-10-16 20:06] caternuson opened #17 "Update interface."
Change this library to work like the MCP3xxx library.
For example,
[code]
needs to change to something like
[code]
See the MCP3xxx library for specifics:
https://github.com/adafruit/Adafruit_CircuitPython_MCP3xxx

[2018-12-03 00:57] #17 closed

[2018-12-09 13:24] jamborloi opened #20 "Procedure for 4 in 1 raspberry pi ADS1115."
Last time you can chose to read which address like this:
adc = Adafruit_ADS1x15.ADS1015(address=0x49, busnum=1)

how about this library for ADS1115?

[2018-12-09 17:40] ladyada commented on #20
you can set the address in init
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/adafruit_ads1x15/ads1x15.py#L60
in circuitpython you dont pass the busnumber into the object, you create a bus device separately then pass it in, there's only one on the raspi:
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/i2c-sensors-and-devices

[2018-12-09 17:40] #20 closed

[2018-12-09 22:05] jamborloi commented on #20
Hi Ladyada,
Thanks you for the reply and thanks for the Adafruit libraries.
If I will use 2 or 3 ADS1115 in my circuit how to set it up on my python commands?
Previously I am setting it up by:
adc0 = Adafruit_ADS1x15.ADS1015(address=0x49, busnum=1)
adc1 = Adafruit_ADS1x15.ADS1015(address=0x48, busnum=1)
On the init I can only change the address.

Thanks

[2018-12-09 22:06] ladyada commented on #20
drop busnum, you don't need to specify it.

[2018-12-09 22:57] jamborloi commented on #20
ok thanks.

[2018-12-11 02:16] jamborloi commented on #20
Hey Thanks. I will do that.

[2018-12-21 18:57] caternuson opened #21 "Move consts related to user settings to class level."
The register addresses are OK at the module level. But for things like mode (maybe that's the only one?) there is no convenient way to access them when using the recommended code setup:
[code]
Having these at the class level would allow:
[code]
May also want to change their names? Or just add new ones? So could:
[code]

[2019-01-03 22:35] tannewt commented on #21
Module level is how I've seen it done in other places. The more proper way is to do it as a Python enum which is essentially an empty class with statics. So it'd be `ads.mode = ADS.Mode.CONTINUOUS`. `digitalio.Pull` is modeled this way.

[2019-01-04 18:03] caternuson commented on #21
Thanks. That make more sense. I'll try and implement something and PR it.

[2019-01-04 23:48] sommersoft commented on #21
Just tossing in my support/agreeance @caternuson. These could definitely be more useful at the class level, especially so that the user doesn't have to remember which integer matches a mode.

[2019-01-04 23:53] caternuson commented on #21
Yah, I totally did a sloppy job on this. I hit this myself when I was trying to help someone change mode and realized they didn't have anything convenient to use on the right hand side. They need to be able to do `ads.mode = SOMETHING_OBVIOUS_AND_EASY_TO_REMEMBER`

[2019-01-30 16:52] ladyada opened #23 "example showing using gain capability"
we got a bunch o requests to add a `gain` demo to https://learn.adafruit.com/adafruit-4-channel-adc-breakouts/python-circuitpython

no rush but it is kinda a neat thing this chip can do :) the demo can just be a resistor divider with 1K and 100K ohm resistors. the `voltage` should end up being the same but the `value` will be different

[2019-02-06 00:22] caternuson commented on #21
Done. See #25

[2019-02-06 00:22] #21 closed

[2019-02-06 00:25] makermelissa commented on #21
Did you want to do the release?

[2019-02-06 01:12] makermelissa commented on #21
Or I can... :)

[2019-02-06 03:19] caternuson commented on #21
Thanks!

[2019-03-04 20:36] caternuson opened #26 "Support continuous mode"
The current wait-for-conversion loop will block forever in continuous mode.

[2019-03-05 13:08] tomasinouk opened #27 "slow reading AnalogIn()"
Hi, I am using this library on Raspberry Pi Zero with ADS1115 to read ADXL335.

I am reading only one axis at the moment and getting sampling rate avg. 214 samples/sec. I would like to increase a speed to 1000samples/sec.

My sample code is modified example:

[code]

Which gives me:
[code]

Is something like this possible?
Thank you

[2019-03-05 18:25] ladyada commented on #27
@caternuson i wonder if its this line
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/adafruit_ads1x15/ads1x15.py#L162
@tomasinouk can you try editing your installed ads1x15.py to change that line to `pass`?

[2019-03-05 21:10] tomasinouk commented on #27
@caternuson thank you for looking into it. I have already modified that and the above result is with that modification.

I am sorry forgot to mention, was kinda late at night.

I was thinking that the speed looks exactly half of what it would be without differential thought.

[2019-03-06 02:06] caternuson commented on #27
It could just be code execution time or the I2C transaction when trying to read this way. That section of code will probably change when I work a fix for #26. I'll keep track of this issue as part of that as well.

[2019-03-06 03:25] tomasinouk commented on #27
I just post it to complement the information.

I have added baud rate for i2c in `/boot/config.txt` as well.

[code]

in file `/home/pi/.local/lib/python3.5/site-packages/adafruit_ads1x15/ads1x15.py` changed it to `pass`

[code]

[2019-03-06 09:16] jmn98 commented on #26
I have been trying to use continuous mode and have only seen erroneous readings from the ADC. See code below, possibly an implementation error but i suspect my issue is related to the library.

`import numpy as np
import time
import board
import busio
import adafruit_ads1x15.ads1015 as ADS

i2c = busio.I2C(board.SCL, board.SDA)
ads = ADS.ADS1015(i2c)
np.set_printoptions(suppress = True)

ads.read(

[2019-03-07 20:50] caternuson commented on #26
These lines:
[code]
only set member variables and don't actually get sent to the ADS until a call to `_read`, which isn't happening in your code.

[2019-03-07 21:34] caternuson commented on #27
Just an update - I'm setup and testing on a Pi Zero W and have generally recreated the above results. I'm using a version of the library that also removes the `time.sleep` from the wait loop. I also created a slightly modified version of the above test code.
[code]
Setting to a slow rate of 16Hz with the expectation that the ADS will be the slowest thing, results are generally as expected:
[code]

[2019-03-08 01:57] caternuson commented on #27
Just dumping more of the story here as a I go.

Looks like changing buadrate does not actually do anything:
https://github.com/adafruit/Adafruit_Blinka/blob/a97887fedc5837fbff0a4d7c859d87269c1d3396/src/adafruit_blinka/microcontroller/generic_linux/i2c.py#L16
Which is confirmed by what I'm seeing - a 100kHz clock regardless.

Here's the I2C traffic for `chan.value`:
![timing_baseline](https://user-

[2019-03-08 02:55] ladyada commented on #27
thats in linux? that's oddly long for delays in between

[2019-03-08 03:17] caternuson commented on #27
Yep, Raspbian Lite. System deets below. Trace is from pressing "Start" in Saleae/Logic and then calling `chan.value`. So all traffic is from that single call.
[code]

[2019-03-08 03:20] ladyada commented on #27
you may want to try replacing
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/adafruit_ads1x15/ads1x15.py#L191
with a single write_then_readinto call, so you're only calling into the kernel once (we optimize on linux for that)

[2019-03-08 03:43] tomasinouk commented on #27
Just to note. I have got ADS1015 as well, to be able to compare. The results are same.

[2019-03-08 06:07] tomasinouk commented on #27
@caternuson you might try it on _normal_ raspberry pi. I have tried it on Pi 3 B+ and the speeds are completely different.

Maybe this issue might be hardware specific to Pi Zero. I do have v1.1

[2019-03-08 19:32] caternuson commented on #27
@ladyada good tip, that cleaned up the lag in the "register read" between the write and read:
[code]
![write_readinto](https://user-images.githubusercontent.com/8755041/54050611-7ecf7080-4194-11e9-9a89-6d542ec668ab.png)

[code]
![write_then_readinto](https://user-images.githubusercontent.com/8755041/54050863-2ba9ed80-4195-11e9-8204-aa34e13dc74e.png)

The total transaction for `chan.value` is still

[2019-03-09 00:11] caternuson commented on #27
OK, some progress. In general, getting this to work is going to require a trade off in simplicity. The current interface:
[code]
is great, but will always be slow. It requires several I2C transactions to switch the mux to that channel, possibly wait for conversion completion, and then get the actual reading. See annotated scope trace above.

With the faster approach, the idea is to no longer use t

[2019-03-09 00:31] ladyada commented on #27
i like keeping the AnalogIn interface - could you use `registers` underneath AnalogIn and then for experts they can twiddle those by hand?

[2019-03-09 16:26] caternuson commented on #27
The AnalogIn interface gives a per channel object to use:
[code]
Under the hood, it modifies the ADC registers as needed to swap the mux, read `value`, etc.. But it seems a little odd to directly access the ADC registers through the channel objects? The settings would affect all channels.

Fast reading can really only be done on one channel at a time. So there would need to be some kind of channel

[2019-03-09 18:08] ladyada commented on #27
yeah i just don't wanna change what we've got now ... we could do some caching so you aren't re-reading the mux?

[2019-03-11 15:24] caternuson commented on #27
How about something like a lock mechanism? Analogous to how the I2C bus is shared with `try_lock()` and `unlock()`. A channel could "lock" the ADC into fast mode and then `chan.value` would operate differently under the hood for that channel. It would no longer worry about changing the mux and simply read current value. And then a context manager could be used to actually do the calls to `try_lock

[2019-03-13 19:02] caternuson opened #29 "Scale value to 16 bits?"
Should this library scale `value` to 16 bits like the core API does?
https://circuitpython.readthedocs.io/en/latest/shared-bindings/analogio/AnalogIn.html#analogio.AnalogIn.value

[2019-03-13 19:05] ladyada commented on #29
yep

[2019-03-16 00:49] caternuson commented on #29
okie dokie.

[2019-03-30 00:50] caternuson commented on #27
I've implemented the above and pushed the working code up here:
https://github.com/caternuson/Adafruit_CircuitPython_ADS1x15/tree/fast_read
along with an example program:
https://github.com/caternuson/Adafruit_CircuitPython_ADS1x15/blob/fast_read/examples/ads1x15_fast_read.py

Testing was done on a Pi Zero W, which I realize is not the fastest Pi. Interestingly, the polling for the ready pin makes

[2019-05-02 05:03] jamborloi commented on #20
Hi @ladyada @caternuson ,
Sorry to bring this up again, I am trying to update my existing system reading temperature from ADS1115.
I want to upgrade my circuit with 4 ADS1115 to read 16 temperature and pressure sensors.
Ad I am currently using the old script and below is the script to identify all 4:
adc0 = Adafruit_ADS1x15.ADS1115(address=0x48)
adc1 = Adafruit_ADS1x15.ADS1115(address=0x49)
adc2 =

[2019-05-02 18:34] caternuson commented on #20
That looks fine. In general, you specify the address when you create the object. Looks like that is what you are doing. Is it not working?

[2019-05-03 02:05] jamborloi commented on #20
Hi, Thanks. I haven't tried it yet.
I am wondering how to include it or modify the adafruit circuitpython simpletest python script.
In the script it called the adc
"ads = ADS.ADS1115(i2c)"
Im not sure how to put the i2c address?
Or is it like this?
ads0 = ADS.ADS1115(i2c, address=0x48)
ads1 = ADS.ADS1115(i2c, address=0x49)
ads2 = ADS.ADS1115(i2c, address=0x4A)
ads3 = ADS.ADS1115(i2c, address=0x4B)

[2019-05-03 04:14] caternuson commented on #20
That's it. You're setting the address with the parameter `address=`. So `ads0` is `0x48`, etc. If you don't specify an address, it just uses a default value.

Do you think it would help if the simpletest example had this in it?
[code]

[2019-05-03 15:09] caternuson commented on #26
Oops. Looks like I accidentally deleted / closed this doing some house keeping? Not sure. Wasn't intentional. I guess if anyone actually still wants this, respond here and I'll see if I can bring it back.

[2019-05-03 16:11] jamborloi commented on #20
hey @caternuson,
Ok I understand now. I will try soon, thank you.

Yes it would be very helpful if the simpletest had this specially a noob like me:
# Create the ADC object
ads = ADS.ADS1015(i2c)                 # use the default address
#ads = ADS.ADS1015(i2c, address=0x49)  # specify an address

[2019-05-03 18:41] caternuson commented on #20
Want to try and make a pull request with those changes? If you've never made a pull request before, this would be an excellent one to try.

We even have a few guides that might help.
https://learn.adafruit.com/an-introduction-to-collaborating-with-version-control/overview
https://learn.adafruit.com/contribute-to-circuitpython-with-git-and-github/overview

[2019-05-04 03:49] chrisjamesfell commented on #26
Thanks Carter. I'd really like to see Python support for Continuous mode on this device. I think the ADS1x15 is an excellent option for sensor data aquisition on the RPi, but the range of applications is limited if the driver is limited to using single-shot mode, as I believe the AnalogIn function is.

The limitation at present is that if you want to sample for more than 1/8th of a second (or even

[2019-05-04 06:42] caternuson commented on #26
OK, I was able to reopen #28 without much trouble. Still not sure when/how/why it get closed.

[2019-05-06 05:51] jamborloi commented on #20
Hi @caternuson , Thanks.
I will check and try to pull request with those chages.

[2019-05-08 01:06] chrisjamesfell commented on #27
Maybe a dumb comment, but isn't the problem related to the fact you're using the ADS1x15 in single-shot mode? According to the specs this is a mode designed for periodic sampling, where the device is woken from a 'sleep' mode, then sampled for a short time (1/8th second for data_rate 8, or 1/860th second for data_rate 860), then put back to sleep. Surely it's unreasonable to expect that 1000 repea

[2019-05-08 04:28] caternuson commented on #27
Yep. It would be used with continuous. The example linked above shows three ways to take a lot of readings. The first is single shot - which is just there for comparison purposes. Just to prove it's slow. The second two are continuous and more in line with what is trying to be achieved here. The crux of all this the two bullets above, and really, the second bullet.

That example was tested using a

[2019-05-09 13:18] chrisjamesfell commented on #27
Cool, thanks. I copied it verbatim and ran it on my 3B+, but got the following error when it tried to apply the second method. I'm running Python 3.5.3.

Acquiring normal...
Time of capture: 14.241853952407837s
Sample rate requested=860 actual=70.215577504285
Acquiring fast...
Traceback (most recent call last):
  File "/home/pi/POOL_PROJECT/ads1x15_fast_read.py", line 45, in <module>
    with chan

[2019-05-09 13:57] caternuson commented on #27
Did you also get a copy of the library code from the PR branch and switch to using that?
https://github.com/caternuson/Adafruit_CircuitPython_ADS1x15/tree/fast_read
The example will only run with that version.

[2019-05-09 23:38] caternuson commented on #26
Fixed by #28

[2019-05-09 23:38] #26 closed

[2019-05-09 23:39] caternuson commented on #29
Fixed by #31

Thanks @dherrada

[2019-05-09 23:39] #29 closed

[2019-05-11 00:13] chrisjamesfell commented on #27
Ok, that makes sense, but unfortunately my skills don't go far enough to make this happen. I copied the new library, I found where the old version is being stored in my Pi, but after many different approaches I simply can't get the old one renamed or the new one copied there. I think it's a permissions issue.

If I uninstall the CircuitPython package and clone it again from github using the web ur

[2019-05-11 05:06] caternuson commented on #27
Since there isn't a pull request yet, easiest would be to just clone the source repo:
https://github.com/caternuson/Adafruit_CircuitPython_ADS1x15/
and switch to the `fast_read` branch. You can then set your `PYTHONPATH` environonment variable to point to that folder. This will cause that folder to be searched before the system wide folder. So it will end up using that code instead of the one inst

[2019-05-12 02:27] chrisjamesfell commented on #27
I'm still a bit out of my depth I'm afraid. After several hours I've figured out how to clone your repo (the key was to fork it to my github profile first). And I can checkout the fast_read branch at the command line using git checkout fast_read. But I can't figure out how to point to that branch in the PYTHONPATH. And even still unclear about how to edit/setup that environment variable on the RPi

[2019-05-21 12:20] chrisjamesfell commented on #27
Ok, I've ended up using pip to uninstall the original library and then re-install from the fast_read branch (using pip3 install git+https://github.com/chrisjamesfell/Adafruit_CircuitPython_ADS1x15.git@fast_read)

When I ran the test script the second part ("Acquiring fast") hung (endless loop). I deleted those lines and ran it again, so I could try the third part and this time it worked, but it re

[2019-05-21 15:06] caternuson commented on #27
What model Pi were you using? The example output a few comments back was on a Pi Zero W, which is one of the slowest Pi's. If you're running on a faster Pi, then the loop w/o polling will run much faster.

[2019-05-21 23:05] chrisjamesfell commented on #27
I'm using a 3B+. I don't need lightning speed (I plan to use 8 samples/sec), but I want Continuous so I can keep sampling a noisy signal for an arbitrary length of time without breaks. I don't really understand what you're doing with the ready pin, but the high apparent speed makes me suspicious that the sampling isn't being done properly. Thoughts?

[2019-05-21 23:39] caternuson commented on #27
The ready pin approach uses the ALRT/READY pin on the breakout. It gets wired to an available digital input on the Pi, in this case BCM 23:
https://github.com/caternuson/Adafruit_CircuitPython_ADS1x15/blob/1264e008be7e0557e5fb2a57294e1d6a8789f3f6/examples/ads1x15_fast_read.py#L40
This was really made to be used in conjunction with interrupts. However, CircuitPython does not have interrupts, so the

[2019-05-22 12:41] chrisjamesfell commented on #27
From reading the datasheet ([https://cdn-shop.adafruit.com/datasheets/ads1115.pdf](url)) (and also some other thread I can no longer find) I believe lower sampling rates incorperate averaging, i.e. there is some native very high sampling rate, and when you ask for 8SPS you actually get averaging of the high rate over 1/8 sec for each delivered sample; so quite a stable and noise-free result.

It i

[2019-05-27 20:33] wajeehAfridi commented on #27
i am running this code or similar with this, i get an error that module not found names "board"
module not found names "busio"
please help

[2019-05-29 15:35] caternuson commented on #27
@wajeehAfridi It sounds like you haven't fully installed Blinka:
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/overview

[2019-05-29 18:34] caternuson commented on #27
@ladyada I bumped up I2C baud rate to 1MHz and ran the tests again, including the one you suggested:

That is **TEST 2** in the results below.

**TEST 3** and **TEST 4** use the modification I made to the library to additionally reduce the I2C traffic when re-reading the same channel (register). A context manager is used to engage that mode of operation. **TEST 3** ignores the conversion ready pin

[2019-05-29 19:03] ladyada commented on #27
huh! the numbers dont like, lets go with the mod!

[2019-05-30 17:10] caternuson commented on #27
OK. I cleaned up my experimental fork/branch to just the parts that matter for fast reading. I removed the stuff that was needed for setting up the ALRT pin to signal conversion complete since that's not going to be used.

PR'd #32

[2019-06-06 16:52] caternuson commented on #27
Please try the 2.1.0 release of the library. It should improve the speed at which you can read from the ADC. Note that you'll want to bump up the I2C bus speed and that there is currently no synchronization with conversion complete - so it's a pretty crude and simple optimization.

See new example for general usage:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/examples/ad

[2019-06-06 16:52] #27 closed

[2019-06-13 15:10] btbernstein opened #35 "Different data rates yield the same SPS"
Data collection with my ADS1115 always results in approximately the same samples per second, regardless of what is specified. I have tested ads1x15_fast_read.py with each rate, no other modifications, and I always receive ~415 SPS.

Any help with this would be appreciated.
Thank you

[2019-06-13 15:15] caternuson commented on #35
There is currently no syncing with actual data conversion completion. Much more discussion and details here:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/27

The only option currently available is to do something like this:
[code]

Without the `sleep`, the loop will run as fast as possible regardless of sample rate.

[2019-06-13 15:34] #35 closed

[2019-07-02 00:35] VicerExciser opened #36 "Compatibility w/ TCA9548A"
Is it possible to multiplex these ADCs using this circuitpython implementation? I'm trying to leverage the https://github.com/adafruit/Adafruit_CircuitPython_TCA9548A library for reading more than 4 chained ADS1015s on my Raspberry Pi's I2C bus, but the suggested method for substituting the ADS instance's 'i2c' attribute with a TCA Channel object is not working; the ADS1x15.__init__ function's att

[2019-07-02 03:28] caternuson commented on #36
Should work. Are you using the Adafruit ADS1015 breakout or something else?

[2019-07-02 06:52] VicerExciser commented on #36
Yes, I am. Quite a few of them. Unfortunately there is only one example for using the circuitpython TCA9548A class and it's for multiplexing dedicated I2C analog sensor breakouts in a sort of plug-and-play fashion. The ADCs have to do a little multiplexing of their own so perhaps that's where the complication lies? Looks like the ADS1x15 base class performs stricter checking of its presence on the

[2019-07-02 07:02] VicerExciser commented on #36
Ah, it's because the TCA module will only let me read from a different address than its own default 0x70, which as I said is the only address visible on the bus. And the ADS base class uses I2CDevice from adafruit_bus_device.i2c_device, which requires a findable address. This is starting to sound more appropriate for the TCA9548A repo's issue tracker...

[2019-07-02 15:09] caternuson commented on #36
You'll always see the address of the TCA itself on the bus. But if you've configured it and set its output channel to the one the ADS is on, then you should also see that address:
https://learn.adafruit.com/adafruit-4-channel-adc-breakouts/assembly-and-wiring#i2c-addressing-2-12
So, for example, 0x70 (TCA) and 0x48 (ADS).

It seems odd that you are not seeing the ADS address.

[2019-07-02 16:13] VicerExciser commented on #36
So maybe it’s an issue with setting an output channel on the TCA then? Maybe that needs to be done before trying to instantiate an ADS object, but I would assume that it would be set to channel 0 by default...right?

For my mux test circuit I just have 5 ADS breakouts connected to TCA channels 0-4, such that channel 0 -> 0x48, 1 -> 0x49, 2 -> 0x4a, 3 -> 0x4b, and 4 -> 0x48. By default, none of tho

[2019-07-02 16:27] caternuson commented on #36
Only one TCA output channel is active at a time. So an I2C scan will only see the ADS(s) on that channel. The CircuitPython TCA driver takes care of changing the channel for you. But if you are trying to manually scan the I2C bus, then you'll need some way to also manually switch the TCA output channels.

This might be better handled in the forums:
https://forums.adafruit.com/
where you can post a

[2019-07-02 22:00] VicerExciser commented on #36
Turned out to be a hardware error (of course...), nothing more than a bad wire that wasn't providing power to one of the ADS's. The others' addresses were being recognized on the bus after all but the program would crash once a read was attempted for that dead ADS. Issue resolved and lesson learned.

[2019-07-02 22:00] #36 closed

[2019-08-22 14:52] laloshifrin opened #38 "Strange output"
I'm using Raspberry Pi 3B+ with Raspbian Stretch.
Using this code:

[code]

I get following readings:
[code]
from a probe which gives a few millivolts on channel0

and these:
[code]
on channel1 without anything connected.

Those readings don't seem to me congruent because the growing gain should give growing values. Or it shouldn't? I'm a little bit confused, can anybody help?
Thank you :-)

[2019-08-22 21:42] caternuson commented on #38
Can you provide more details about what is actually connect to the ADC channels and how.

I can not recreate this. I wired up an ADS1115 to Pi Zero W and setup a 10k trim pot to voltage divide VCC (3.3V) wired in to channel 0. Set the divider to be about ~0.5V and ran your sketch above. Here's the output:
[code]
The raw values increase as expected with the last gain setting being saturated, which

[2019-08-22 22:16] laloshifrin commented on #38
I have a PH probe directly connected with BNC connector on channel 0 and nothing connected to channel 1
I also tested channel 2 connecting VDD to it:
[code]
and connecting GND to it:
[code]
those seem more reliable but what's going on with that probe?

[2019-08-22 22:48] caternuson commented on #38
Those do look more reasonable.

Unknown what is happening but this sounds more like a hardware issue. You can try posting in the forums:
https://forums.adafruit.com/

[2019-08-23 00:50] laloshifrin commented on #38
what readings do you get if you execute the script on a channel with nothing connected?

[2019-08-23 01:57] caternuson commented on #38
In that case I do seem to get odd results similar to yours:
[code]

[2019-08-23 12:30] laloshifrin commented on #38
You are right. It's a hardware problem related to impedance. Thanks for your time

[2019-08-23 12:30] #38 closed

[2019-09-30 20:02] kattni opened #39 "Two examples need renaming to match lib name"
Two examples begin with `ads1015_` and `ads1115_`. They should each begin with `ads1x15_ads1015_` and `ads1x15_ads1115_` to match the CIrcuitPython library standards and make it clearer in the example bundle which library they are associated with.

The lines including this file name in the `docs/examples.rst` file must also be updated to reflect the name change, e.g.:
[code]
would be updated to:
[

[2019-10-04 14:15] hamishmb opened #40 "Can cause crashes when used with multiple threads at once - thread-safety"
After trying to diagnose an intermittent crash in some software, I finally came to the realisation that multiple threads were querying the ADS at once. Due to the way the code works, it currently isn't thread safe and can deadlock waiting for a response from the ADS.

I've made a solution in the software using threading.RLock, but I was wondering if anyone would be interested in fixing this upstre

[2019-10-04 16:27] ladyada commented on #40
ideally we would add peripheral locking support to `blinka` - we do in the microcontroller - then this line would lock the peripheral
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/adafruit_ads1x15/ads1x15.py#L198
let me know if you're interested in doing that, it would solve the problem over all for any sensor then :)

[2019-10-04 18:20] hamishmb commented on #40
That sounds like a good idea.

I'm not familiar with blinka, but by the sounds of it that would be a much more helpful fix. I don't have any ADS/other adafruit devices to hand to make sure it works, so would someone else be able to test it works with real hardware for me?

[2019-10-04 18:26] hamishmb commented on #40
Looks like blinka is a pretty complex project. Are there any docs that could help me get an idea of what is where?

[2019-10-04 18:56] ladyada commented on #40
how are you testing this PR?

[2019-10-04 19:32] hamishmb commented on #40
I tested the software modification I made to my project with real hardware, but I don't have access to it any more - it's part of an operational system. I may be able to write a test program that exhibits the issue for a colleague, who can then check that the fix works.

[2019-10-12 01:06] razinc commented on #39
Hi @kattni. I would like to take this but I don't have a clear picture of the issue. One of the requirements is changing the word `ads1015_` to `ads1x15_ads1015_` & `ads1115_` to `ads1x15_ads1115_` in `docs/examples.rst`. Does it mean I have to put the prefix `ads1x15` to each file in this repo?

[2019-10-12 01:52] kattni commented on #39
Hello, @razinc.

The prefix `ads1x15_` needs to be added to two of the example files in this repo (the two files that include `simpletest` in the name), the two other examples already have that as the beginning of their name (the two files that do not include `simpletest` in their name).

Once the filenames are changed, the `docs/examples.rst` file needs the file names in it updated, as it include

[2019-10-12 06:56] razinc commented on #39
Okay. Let me take this, please.

[2019-10-13 10:03] hamishmb commented on #40
I've sorted this out with my colleague - I can borrow some hardware from them to work on and test this fix. I'll start work on this next week and hopefully will have something ready at the weekend.

[2019-10-13 10:18] hamishmb commented on #40
Do you have a unit test framework for Blinka? I'm wondering how to make an automated test for this fix. I can write a test program, but I assume it would be better to integrate it into the unit tests.

[2019-10-13 17:17] ladyada commented on #40
we do, however nothing finds bugs like real hardware uses :)

[2019-10-23 18:45] nayanagg opened #43 "not getting 1600sps in ads1015"
i want to get sampling rate 1600 sps from ads1015 using with pi 3A+ but only getting around 250hz data. help!!

[2019-10-23 19:05] caternuson commented on #43
Obtaining the fastest sampling rate may not be possible. See here for lots of details and discussion:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/27
The best this library supports is demonstrated in this example:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/master/examples/ads1x15_fast_read.py

[2019-10-23 19:12] nayanagg commented on #43
<img width="519" alt="Screenshot 2019-10-24 at 00 34 43" src="https://user-images.githubusercontent.com/40124440/67426103-04564280-f5f7-11e9-84ea-8b83a3d17d6c.png">
After using fast_read.py regardless of what sample i'm giving the result is same.

[2019-10-23 19:46] caternuson commented on #43
The general issue is syncing with the conversion completion in continuous mode. There are two general ways this can be done:

1. Query the status register for conversion complete
2. Query the conversion complete pin, ideally tie this to an interrupt handler

Approach 2 is not viable since CircuitPython does not support interrupts. Approach 1 has the issue of slowing everything down since the query

[2019-10-24 20:34] sampazzer opened #44 "Confusing 12 bit value and voltage returns."
Hi.

Sorry first time I've kinda done this.

I was massively confused about how my result for chan.value was above 2047 as I'm using the 12 bit ADC and have set it up as per the example code for the 12 bit ADS1015.

I've had a decent look at the code and it looks like everythings bit shifted << 4 and then the voltage calculation used for 32767 (16bit) instead of having a pure 12 bit calculation.

[2019-10-24 23:36] caternuson commented on #44
The CircuitPython AnalogIn API has standardized on returning 16 bit values for everything:
https://circuitpython.readthedocs.io/en/latest/shared-bindings/analogio/AnalogIn.html#analogio.AnalogIn.value
The attempt there is to make the behavior consistent regardless of ADC resolution - a technical detail which is "hidden" to make things more beginner friendly. But this of course can end up being con

[2019-10-25 08:48] ahmetuludag commented on #43
I followed links and there is great effort and insight, thank you @caternuson. In a project; I'm using ADS1115 and needed to have a stable 475 sample rate. As you already pointed out, fast_read example tries to read max and does not obey settings. There is also this library: https://pypi.org/project/RPi.GPIO/ and its comment says that for real-time performance don't use raspberry, arduino would be

[2019-10-25 20:28] sampazzer commented on #44
Hi. Thanks for your swift and thoughtful response.
I guess it doesn't really matter in application. I'm just now mapping my soil moisture sensor 0..100% between the min and max 16 bit ADC values that are returned.
As you said it was just a bit confusing as I was expecting a much smaller number. As I seem to remember I think the old library returned the 12bit equivalent.
I just wanted to make sure

[2019-10-25 20:28] #44 closed

[2019-10-29 21:20] Warday commented on #27
Hi, I have notice that it gives the same read several times. In my case is up to 5000 samples per second but it only take 9 diferent values in 18.5 ms guivin 2ms per read 500SPS. I show my results.

Time of capture: 0.01859169099952851s
Sample rate requested=3300 actual=5378.746882278542
18.59169099952851
[4656, 4656, 4656, 4656, 4656, 4656, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 44

[2019-10-29 22:17] caternuson commented on #27
See explanation here:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/43#issuecomment-545606646

[2019-10-31 14:55] hamishmb commented on #40
Apologies for the delay.

I have added my fix into the repository at https://github.com/hamishmb/Adafruit_Blinka. I have also written a test program, which is attached. I'm having issues getting it to crash for some reason, but it works fine with the modified, thread-safe version.

[2019-10-31 18:09] caternuson commented on #43
Unknown. But worth trying. Would be interesting to see what you can work out.

[2019-10-31 19:14] ladyada commented on #40
hiya yes please submit PR's to Blinka, our maintainer will look & test :)

[2019-11-06 21:55] 1nfinity-5starZ opened #46 "2 simultaneous differential channels"
Hello, i've been trying to setup 2 differential channels at the same time but i'm not sure if the code I wrote is quite right, couldn't find in the docs either.

![image](https://user-images.githubusercontent.com/19469895/68341134-8e59dd00-00c6-11ea-9415-6e5e35cfe95a.png)
I plotted the graph of the readings and somehow they appear to be related even if i'm reading completely different sources.

He

[2019-11-06 22:02] caternuson commented on #46
Looks OK at a first glance. Do you really need continuous mode? It doesn't look like you are actually storing the values in your sampling loop. Just saving the max. Can you describe your use case.

[2019-11-06 22:08] 1nfinity-5starZ commented on #46
Yeah sure, I should have given more details.
I need continuous mode because i'm reading an alternate current generator at 60Hz, so i grab the maximum value read at 860 samples per second in a 2 second interval and is probably safe to assume that the peak value will be stored.
I also skip calculating the actual Root Mean Square value because I know the wave is a sine function.

[2019-11-06 22:31] caternuson commented on #46
Is your hardware already embedded, or can you do some bread board testing of the ADS?

[2019-11-06 22:48] 1nfinity-5starZ commented on #46
Great idea. I might plug in a potentiometer on each channel and simulate a random signal by turning the knobs and trying to log on screen if the changes make sense. I'll let you know when I'm done. Thanks !

[2019-11-06 23:26] caternuson commented on #46
Also just to make sure the basics works. Try that with single shot. Then try continuous. Etc.

Continuous is tricky and this library doesn't really support it well. Lot's of discussion here:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/27

[2019-11-08 01:01] 1nfinity-5starZ commented on #46
Ok so a bit of testing and i came to some results:

First change was I decided to actually store all the values instead of the max.

Then, trying to read them in the same loop (simultaneously) didn't work at all:

Loop:
'''
while True:
    data1 = [0]*SAMPLES
    data2 = [0]*SAMPLES

    for i in range(SAMPLES):
        data1[i] = chan1.value
        data2[i] = chan2.value

    mx = round(max(data

[2019-11-08 22:54] 1nfinity-5starZ commented on #46
@caternuson apparently the time.sleep(5) between reading the channels solved the issue. Here is the new plot and I'm way happier with the results:

<img width="1334" alt="image" src="https://user-images.githubusercontent.com/19469895/68516008-926e3200-0261-11ea-815a-cf04645c3ebe.png">

[2019-11-14 20:34] caternuson commented on #46
Glad it's working a little better. It may not be the `time.sleep`, but just the separation of the channel readings. You can only do fast continuous readings on one channel (or differential channel) at a time, so should have only one read in the loop.
**NO:**
[code]
**YES:**
[code]
The way it works is it keeps track of the last channel read. If you read the same channel again, it bypasses a lot unn

[2019-11-17 22:28] 1nfinity-5starZ commented on #46
Thanks, I think it's clear now what the problem was. Closing this.

[2019-11-17 22:28] #46 closed

[2020-01-03 12:49] Grandpa-G opened #48 "TypeError: an integer is required (got type bytearray)"
I am trying to get this library running on Raspberry Pi under buster OS. The following is both the code and the error. Please advise what to do to correct? I can use the old deprecated version and it works so I know the hardware works and the environment should be setup correctly. I have also installed blinka library.

`import board
import busio
import adafruit_ads1x15.ads1115 as ADS
from adafruit

[2020-01-06 15:06] kg123456 opened #49 "Unable to run Single Ended python program on Pi Zero W"
Hi

I just gotten a set of two identical ADS1115 cards with header pins with same error 16 outcome on my Pi Zero W.

Followed instructions to install at
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/i2c-sensors-and-devices and
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15

Did $ sudo i2cdetect -y 1 with following outcome:
     0  1  2  3  4  5  6  7  8  9  a  b  c  d

[2020-01-06 17:06] ladyada commented on #49
hi you likely have a wiring issue, please contact the vendor you purchased the ADS sensor from for wiring/hardware interface help :)

[2020-01-06 17:06] #49 closed

[2020-01-09 00:59] caternuson commented on #48
How repeatable is that error? I can't recreate this. I brought up a Pi Zero W with the 2019-09-26 Raspbian Buster Lite OS image, went through the Blinka install, and tested your same code and it ran fine:
[code]

[2020-01-09 12:36] Grandpa-G commented on #48
I just ran the exact script you have above and got the error I described. I also did the same uname -a command and got the same results.

[2020-01-09 14:48] caternuson commented on #48
Is there anything unique about your setup? The version of Python you are running, etc.? Or is this essentially a fresh install of the Raspbian OS?

Did you follow this guide to install Blinka:
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/overview
and then this guide for the ADS1115:
https://learn.adafruit.com/adafruit-4-channel-adc-breakouts/python-circuitpython

[2020-01-09 14:53] Grandpa-G commented on #48
It is the latest update of Raspbian OS so it is also latest Python3. I use sudo pip3 to install per the directions but I don't use environment.

It is not exactly a virgin OS. I have added some other libraries, but I really can't tell  you which as I never really kept track. If I get time I will try a new OS. Unfortunately, the project moved on and my motivation has diminished, but I will try to h

[2020-01-09 14:54] Grandpa-G commented on #48
I didn't mean to close this, sorry.

[2020-01-09 15:06] caternuson commented on #48
There are a few other open issues that are hitting this same thing. So there must be some underlying issue here. It's just not easy to repeat by starting with a fresh OS and working forward from there. So if we can figure out what's unique about your setup and how you got there, that would help.

Go ahead and keep this open. When you have more info, please share. Thanks.

[2020-01-09 15:09] Grandpa-G commented on #48
I know for sure I installed the pyqt5 library.

I am starting from fresh img now. I will add stuff and see if I can break it.

[2020-01-09 18:39] Grandpa-G commented on #48
I rebuilt the img from a dowload 9-25-19. I then went through every step in the install Blinka document and then install the ADS1115 per the guide. I didn't add anything else.

I am having 1 problem that my device isn't showing up on i2cdetect, but I think it is a loose wire.

I am using the same small program you have.

When I get i2cdetect to work, I will give you the results.

[2020-01-09 20:18] Grandpa-G commented on #48
This setup failed as before. No extra software installed. Using ssh to connect.

If I can get my PiZero connected, I will try it.

[2020-01-09 21:03] caternuson commented on #48
OK, I'll try again and this time won't use a venv. Just to make sure - were you using Raspbian Lite or Full?

[2020-01-09 21:17] Grandpa-G commented on #48
I just put it on my piZero and it doesn't crash.

I am going to put it back on my Pi3 now.

[2020-01-09 21:19] caternuson commented on #48
Interesting. I should have asked what model Pi also. My original test was a on Pi Zero W and it sounds like you've repeated success there. So maybe something Pi model specific. Was the Pi3 what you were using originally in your first post above?

[2020-01-09 21:23] Grandpa-G commented on #48
I am using Raspbian full. It is a late model Pi 3+ (or whatever it is called, not a 4)

[2020-01-09 21:26] Grandpa-G commented on #48
Now it's time to scratch one's head. I put it back on the original Pi 3 I had errors. It runs now. The only thing I did was re-soldered the power pin on the ADS1115. Maybe that was the problem all along.

I will next go back to the original OS setup and see if it works.

[2020-01-09 21:44] Grandpa-G commented on #48
Going back to the OS where the problem started, I still have the error.

Exact same hardware as the step before that worked. I am not sure what I can do to help now. I might try to rebuild some of the parts I installed for other parts of my project.

Sorry I can't be of more help.

[2020-01-09 21:56] caternuson commented on #48
Thanks for the testing. This seems like more of software issue than a hardware issue. Somehow that one OS image has gotten in a weird state where there is some kind of software conflict going on. Trying to figure out what and how it happened can be tricky. But by starting with a fresh OS, you know everything works in general.

The person over in [this other issue thread](https://github.com/adafrui

[2020-01-09 21:56] #48 closed

[2020-01-10 20:57] caternuson commented on #48
@Grandpa-G Here's something you can try. It worked in the other thread:
https://github.com/adafruit/Adafruit_CircuitPython_VCNL4040/issues/7#issuecomment-573195267

[2020-01-10 21:19] Grandpa-G commented on #48
This was a good solution. For me, I had to add sudo and change to pip3, but the program now runs. Here is the output so you can see only a few libraries were updated. This should be the clue to what really needs to be done.

pi@raspberrypi:~ $ sudo pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org

[2020-01-13 18:19] dherrada commented on #39
Closed. Fixed in #41

[2020-01-13 18:19] #39 closed

[2020-01-14 18:49] smclaugh5 opened #50 "ADS1115 works on my PI4, not PI3B"
mport board
import busio
import adafruit_ads1x15.ads1115 as ADS
from adafruit_ads1x15.analog_in import AnalogIn
from time import sleep

i2c = busio.I2C(board.SCL, board.SDA)
ads = ADS.ADS1115(i2c)
#6.144 4.096 2.048 1.024 0.512 0.256 Volts:
ads.gain = 2/3   #or 1,2,4,8,16 (don't know if 2/3 is syntax?)
chan = AnalogIn(ads, ADS.P0)
print(chan.value, chan.voltage)

i = 0
while i < 250:
    print(cha

[2020-01-14 19:01] caternuson commented on #50
See here for possible fix:
https://github.com/adafruit/Adafruit_CircuitPython_VCNL4040/issues/7#issuecomment-573195267
and here for more discussion:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/48

We are not sure what is causing this, but seems to result from getting your environment into a certain state. If you can provide more info on how the Pi 3B got there, that would hel

[2020-01-14 19:59] #50 closed

[2020-01-14 20:13] smclaugh5 commented on #50
OK I am following the other threads about python update and fresh OS install.

I have a system with a multiplexer and 6 DAC's, plus the A-2-D.  Everything else works fine.  Added the A-2-D (1115) to another I2C plexer channel.  Error.  Then bypassed the multiplexer.  Same error.  Then disconnected 5V to 1115 / 1015.  Same error.  But powered up, if I swap the I2C leads, I get a nothing on the bus

[2020-01-14 21:18] smclaugh5 commented on #50
sudo pip3 freeze --local | grep -v '^-e' | cut -d = -f 1 | xargs -n1 pip3 install -U

Fixed problem.  Thank you so much!

[2020-01-28 20:50] smclaugh5 opened #51 "v = (chan.voltage) dies as a service"
I can get the voltage no problem with:

            chan = AnalogIn(ads, ADS.P0)   #channel 1 of 4 on 16 bit A2D ADS1115
            v = (chan.voltage)

but I have the python program set up as a linux service so I can get my data acquisition program
to execute automatically on boot.  The (chan.voltage) kills the script. The program runs fine from the command line or the Thonny environment.  Any su

[2020-01-28 21:26] caternuson commented on #51
In general, you do not need the parans. I doubt that is the issue, but you can do:
[code]
If your intent is to create a single member tuple, you would need to do:
[code]

Do you have a stack trace or any other kind of error message for what happens when the script fails to run?

[2020-01-29 20:29] smclaugh5 commented on #51
test_adc.service - test the adc as a service
   Loaded: loaded (/lib/systemd/system/test_adc.service; enabled; vendor preset: enabled)
   Active: activating (auto-restart) (Result: exit-code) since Wed 2020-01-29 14:21:47 CST; 6s ago
  Process: 1545 ExecStart=/usr/bin/python3 /home/pi/Documents/python_programs/adc_test.py (code=exited, status=1/FAILURE)
 Main PID: 1545 (code=exited, status=1/FAILU

[2020-01-29 20:30] smclaugh5 commented on #51
Sorry, some of that uploaded kinda weird....

[2020-01-29 20:47] caternuson commented on #51
Based on that stack trace, what makes you think it's related to `chan.voltage`? Looks like all we know is it exited with a non-zero status:
[code]
It could be something like an import error due to that process running in a different environment than when running via command line or Thonny.

[2020-01-29 21:17] smclaugh5 commented on #51
Comment out chan.voltage and the program runs.

[2020-01-29 22:59] caternuson commented on #51
Where do you comment that out? It's used in several places. Can you recreate this with a more simple example that just uses the ADS1115?

You can also edit your post above with the code to clean up the code syntax.

[2020-01-30 20:44] smclaugh5 commented on #51
I am working on a simple set up.  It is interesting to note that it won't survive a try / except either.

Standby for more information;  To answer your prior question:

v = chan.voltage

The above commented out allows the code to run as a sub process or service.

[2020-01-31 20:09] smclaugh5 commented on #51
OK, looks like the problem is related to using the old TCA9548A multiplexer example python code and modules with the newer Circuit_Python modules for the ADC.  I am going to close this (unresolved) thread and try to get some help with setting up the multiplexer and the DAC's and ADC's.

Still confused why the code works in then environment and not as a service or a sub-process.

[2020-01-31 20:10] smclaugh5 commented on #51
BTW, the ADC works fine as a stand alone connected to the PI i2c.  Just not through the TCA9548A.

[2020-01-31 22:03] caternuson commented on #51
Tested and seems to work. If you continue to have issues, please post in the [forums](https://forums.adafruit.com/) with photos of your setup.

![tca_ads1x15_test](https://user-images.githubusercontent.com/8755041/73577655-57c80000-4432-11ea-914e-af4d51473c7e.jpg)

[code]

[2020-01-31 22:03] #51 closed

[2020-02-25 00:16] FoamyGuy commented on #40
Looks like this was handled with PR #170  from the Blinka project. I'm going to close the issue here.

[2020-02-25 00:16] #40 closed

[2020-03-30 16:28] kattni commented on #43
@caternuson Is this resolved?

[2020-03-30 17:25] caternuson commented on #43
We can close for now.

Not really resolved, but I don't think there's any easy to do this with the current state of CP (i.e., no interrupts). The discussions in the threads linked above document where things are at.

[2020-03-30 17:25] #43 closed

[2020-04-07 12:39] zacnelson opened #55 "When in continuous mode, first read returns previous pin value"
Using an ADS1115 on a Raspberry Pi 4 with Python3.7

Test case:
p1 should return a value around 13200
p2 should return a value close to 0

[code]
output:
[code]

[2020-04-07 13:00] zacnelson commented on #55
From my quick debugging it seems like this my be due to the fact that once the requested pin has been changed, it takes a certain amount of time for the ADS to recapture and convert the value. The library isn't waiting for this conversion time and instead returns what is in the memory address immediately.

[2020-06-17 22:24] dherrada commented on #55
@zacnelson Hey, are you still having this issue/did it ever go away? If you are still having it, I can try to take a look in a few days.

[2020-06-18 11:24] zacnelson commented on #55
It didn't go away. Based on the commit history it also doesn't seem to have been addressed since filing the bug. Thanks for looking into it!

[2020-06-22 14:07] dherrada commented on #55
@zacnelson Ok, just got the hardware. I'll try to take a look at this sometime today or tomorrow.

[2020-06-22 18:32] dherrada commented on #55
Ok, so I got it _working_, but I'm not entirely sure why, and I need to make the solution less janky.

So, in continuous mode, it just reads whatever was the last value calculated by the ADC, so if the last value was from p1, no matter if you're calling p1 or p2, it'll give you p1's value.

Now, I think there must be a better way to go about doing this, such as requesting the value from a specific

[2020-06-22 22:17] caternuson commented on #55
@dherrada FYI - the logic that is in place was done as an attempt to provide "fast" reads in a simple way without breaking the current API. There's a huge discussion here:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/27

[2020-06-23 07:29] zacnelson commented on #55
@caternuson thanks for referencing that issue. I read through your development and the end goal makes sense - reduce I2C traffic overhead and get the data as quick as possible. If I understand it correctly, when we're in `continuous` mode and the pin doesn't change, then we just grab the latest value from the previously set data register. If the pin does change, then we update the ADSx accordingly

[2020-06-23 13:34] dherrada commented on #55
@zacnelson I _believe_ that's exactly what single mode does.

[2020-06-23 15:26] dherrada commented on #55
@caternuson Do you think it'd be worth putting something in the README that mentions that using single mode is better for when you are reading multiple inputs?

[2020-06-23 15:37] caternuson commented on #55
That's how I see it also. Since changing pins requires sending the updated mux setting out over I2C, it really limits the data read rate on multiple pins.

The key here is how to make this determination. There's a status register that can be read, but that's more I2C traffic which slows things down. Better is to use the data ready pin somehow, but that soon becomes a discussion about interrupts.

[2020-06-23 15:39] caternuson commented on #55
@dherrada Sure, that could help. There's also a "fast read" example that shows the general usage. It might even be worth a Learn Guide page to discuss the general issues with trying to read the ADS as fast as possible.

[2020-06-23 15:48] dherrada commented on #55
@caternuson Ok, I'll add a sentence or two to the readme and then add a new page to the existing learn guide

[2020-06-23 16:24] caternuson commented on #55
I've recreated this issue. Which is weird, as I *thought* this used to work. Seems like maybe something has changed. I'll try and investigate also.

[2020-06-24 14:00] dherrada commented on #55
@caternuson So I read through the issues related to this, and from what I gathered the main issue is that there's no interrupts in circuitpython so we can't do an interrupt based approach, which is what you'd normally do to read this as fast as you can. I was also going to mention that continuous mode is designed to work with 1 pin only.

Anything else you'd like me to discuss in the learn guide p

[2020-06-24 14:46] caternuson commented on #55
@dherrada Thanks. Yep, that's pretty much the main limiter. Sounds good. And guide can always be tweaked later as needed. So wouldn't worry too much about the initial content. The whole "read the ADC as fast as possible" discussion can pull a thread and almost become it's own separate guide.

[2020-06-24 18:51] dherrada commented on #55
@caternuson This is only a limitation of the circuitpython library, correct? If so, I was going to put it in the 'Python and CircuitPython' section and not make it its own page

[2020-06-24 20:00] caternuson commented on #55
@dherrada This issue is. But if this a basic behavior of the ADS, then would potentially affect other libraries.

[2020-06-24 20:02] caternuson commented on #55
@zacnelson Would you be able to test code changes if I made a pull request with a potential fix?

[2020-06-24 20:09] zacnelson commented on #55
@caternuson yes, I should be able to test sometime this week.

[2020-06-24 21:42] caternuson commented on #55
@dherrada @zacnelson Please check out PR #57 and test if possible.

[2020-06-28 17:45] caternuson commented on #55
Hopefully fixed by #57. Thanks @zacnelson for finding this and also for testing the PR. And thanks @dherrada for the help also!

[2020-06-28 17:45] #55 closed

[2020-08-05 05:24] rmiller4 opened #58 "Continuous Sampling from more than one channel ADS1015`"
Hello,
I've been using the ads1x15_fast_read.py code and I am trying to read
from two channels continuously in single-ended mode.
I simply created a second channel (chan1 = AnalogIn(ads, ADS.P1)
in addition to the first, along with another data array (dataB). Then I read them
one after the other using
data[i] = chan0.value
dataB[i] = chan1.value

When I do this, the values for both arrays seems to

[2020-08-05 17:36] rmiller4 commented on #58
I just read the previous threads (esp. issue #57 ). It seems I was late to the party...does anyone know if there's a c library that would allow for fast reads (single-ended) from multiple channels in continuous mode?

[2020-08-25 00:50] adiRpatgaonkar commented on #44
Hi, I need the voltage values at each channel in a single ended mode. In that sense, for ADS1115, which is 16-bit, shouldn't I use the formula: Voltage = RAW_ADC * PGA_GAIN / 65535, to get the actual analog voltage, as you'd get on a multimeter?

[2020-08-25 01:12] caternuson commented on #44
Use the `voltage` property on the ADC channel:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/5a719594f474c61c8bbc667d6a92fea611d06218/examples/ads1x15_simpletest.py#L22
Source for reference:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/5a719594f474c61c8bbc667d6a92fea611d06218/adafruit_ads1x15/analog_in.py#L67-L71
[Datasheet](http://adafruit.com/datasheets/ads11

[2020-08-25 18:46] adiRpatgaonkar commented on #44
Wow, got it. Thanks so much for clarifying so promptly. Appreciate it :)

[2020-08-25 19:28] caternuson commented on #44
They are in the datasheet (linked above). Table 3.

[2020-08-25 19:51] adiRpatgaonkar commented on #44
Alright, thanks! :)

[2020-09-03 08:57] haberma commented on #44
Hi, I'm using ads1115 and I wonder why the raw counts value seems to have a resolution of 16. I.e. when I'm running the ads1x15_ads1115_simpletest.py example chan.value increases (or decreases) by steps of 16.
As far as I understand it should have a resolutuion of 1 for the ads1115. It seems to me that 4 bits get lost somewhere. Has someone observed something similar?

[2020-09-03 18:38] tannewt commented on #44
@haberma Please open a new issue. This issue has already been closed.

[2020-10-11 18:54] marcelser opened #60 "ad1115 totally weird values when overlay ad1115 is not loaded"
Hi,

I'm trying to use the ADS1115 driver from Circuitpython to replace the outdate old 1.0.2 one. However it seems I need to load the also outdated AD1115 overlay to make the return values make sense. Otherwise the AD1115 outputs just nonsense the values are jumping around from 20000+ to -116 in all channels.

When I add the ADS1115 overlay everthing looks perfectly fine. So it seems the overlay

[2020-11-16 12:02] slaattnes commented on #27
Hi! When I try to use the fast_read script on all 4 channels I only get 77sps. Does anyone know the reason?

If I only read channel 0 I get 6000 "actual sample rate"

[2020-12-16 09:54] TobBvB09 opened #63 "Raspberry Pi 4 Model B Rev 1.4 not supported"
Hello,

I'm trying to use the ads1x15 library with my Raspberry Pi 4 Model B Rev 1.4, but when I run any of the examples I get this ERROR:
[code]

Further info of my system:
[code]

[code]
On the Raspberry Pi 4 Model B Rev 1.1 it worked and I think the only thing that changed is the model revision.
Do you have any ideas?

[2020-12-16 16:27] caternuson commented on #63
That rev code should be supported:
https://github.com/adafruit/Adafruit_Python_PlatformDetect/blob/168ff6b66548e8873d5e05ecbe4f24d2e8b22124/adafruit_platformdetect/constants/boards.py#L395

When did you install Blinka? Did you pass the post install check?
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/installing-circuitpython-on-raspberry-pi#blinka-test-3030038-17

[2020-12-17 09:03] TobBvB09 commented on #63
I have reinstalled my raspberry pi again and updated everything. Now the blinkatest and everything else works.
Probably I just had an old version.
Thanks!

[2020-12-17 09:03] #63 closed

[2021-01-02 19:36] jrbrearley opened #64 "need support for user-defined I2C, channels > 1"
I was able to add i2c-4 bus in the /boot/config.txt file with:
    dtoverlay=i2c-gpio,bus=4,i2c_gpio_delay_us=1,i2c_gpio_sda=17,i2c_gpio_scl=27

see I2C tutorial: https://www.instructables.com/Raspberry-PI-Multiple-I2c-Devices

sudo i2cdetect -y 4 correctly show the attached ADS1115 on I2C bus 4 at address 0x.48

However python adafruit_ads1x15 does not like i2c bus 4

import board, busio, time, t

[2021-01-02 19:43] ladyada commented on #64
1) please format your issues with code blocks so they are readable

2) you can use https://github.com/adafruit/Adafruit_Python_Extended_Bus for making more buses

[2021-01-02 19:43] #64 closed

[2021-01-02 19:49] ladyada commented on #64
(if you have any issue with the above solution plz post an issue in the extended bus repo! :)

[2021-01-10 19:02] jrbrearley opened #65 "QUESTION: what is correct syntax for ADS1115 object without doing "import as" module renaming"
The example below works fine:
[code]
I am trying to avoid using "import as" and use full length class names so I get a better understanding of class structure and who calls what.
[code]
Could you please show me the correct syntax?

[2021-01-10 20:27] ladyada commented on #65
hihi please post to the adafruit circuitpython forums for help with python syntax 👍 this place is for bug reports
forums.adafruit.com

[2021-01-10 20:27] #65 closed

[2021-01-13 15:47] jrbrearley opened #66 "adafruit_ads1x15.ads1115 not comaptible with globals()[pkg_trunc] = importlib.import_module(pkg_trunc)"
I have sorted out my object syntax issues with adafruit_ads1x15.ads1115. The first attached script ada_dbg1.py.txt which uses simple hardcoded import statements, the creation of ads1115 objects work fine. The second attached script ada_dbg2.py.txt uses a loop to import a variable list of packages, which allows for more graceful error handling & messaging.

`globals()[pkg_trunc] = importlib.import_

[2021-01-13 16:17] ladyada commented on #66
we arent clear that this has anything to do with the library structure or is just a Pythonism....
as the joke goes "if it hurts when you do that, stop doing that" ? use imports the way Python intended em to be used?

[2021-01-14 16:00] jrbrearley commented on #66
Yes, I can work around this in the short/long term.

BTW: I tried the import_module( ... , package=<pkg>) option, nothing useful happened.

To get a wider viewing of the issue, I posted this article at: https://bugs.python.org/issue42928

[2021-01-14 18:55] dhalbert commented on #66
`adafruit_ads1x15.ads1115` is the only module you're importing in this non-standard way that is of the form `a.b` (dot-separated). I don't know why `importlib` doesn't like that, but I don't think it has to do with our library. Try a simpler example of some dummy code where you are importing something that has `a.b`. But this is a Python question, not a library issue, as far as I can tell. Our lib

[2021-01-14 18:55] #66 closed

[2021-01-17 17:02] jrbrearley commented on #66
I tried loading adafruit_ads1x15.analog_in via importlib.import_module and it works fine, see  attached power_monitor_rpi.py.txt below.

When you run the script, the globals data shows:

[code]
The first two packages point to the lowest level .py file with code in them, but the adafruit_ads1x15 points to an (empty) --init--.py file. Maybe this is a clue?

[power_monitor_rpi.py.txt](https://github.

[2021-01-22 20:15] dherrada commented on #58
@rmiller4 Sorry for the late response. I'd try [this library](https://github.com/adafruit/Adafruit_ADS1X15.git)

[2021-02-03 19:32] Benzzen-dev opened #68 "ADC Raspberry pi"

[2021-02-03 19:32] #68 closed

[2021-02-24 23:09] dretful opened #69 "how to read two ADS1115 on I2C bus?"
With two ADS1115's connected directly to the i2c bus and using the option to instantiate them with different addresses, I cant read each of them (having followed the example syntax).

    ads1 = ADS.ADS1115(i2c, address=0x48)
    chan1 = AnalogIn(ads1, ADS.P0)
    ads2 = ADS.ADS1115(i2c, address=0x49)
    chan2 = AnalogIn(ads2, ADS.P0)
    print("ads1 {:>5}\t{:>5.3f}".format(chan1.value, chan1.vol

[2021-02-24 23:38] caternuson commented on #69
Did you use the ADDR pin to set the alt address for the second ADS? Try an I2C scan and make sure both are being seen.

[2021-02-27 01:01] ladyada commented on #69
hihi -this should be posted in the tech support forums

[2021-02-27 01:01] #69 closed

[2021-02-28 18:18] dretful commented on #69
Sorry of wrong place, but just wanted to say, yes thank you following the advice `Did you use the ADDR pin to set the alt address for the second ADS? Try an I2C scan and make sure both are being seen.` and that solved it for me.

[2021-04-23 11:13] jposada202020 commented on #58
@rmiller4 did you verify the library mentioned above? let me know thanks :)

[2021-05-07 19:44] jposada202020 commented on #58
closing this for now. thanks

[2021-06-29 22:24] fabioHernandezRu opened #70 "ads1115 gets stuck in the following situation"
I am testing the library in rpi3 b, but I find that the program remains in an infinite loop if it is not able to read the ADC because i2c fails .. how could this be avoided? I think that the code that is causing this is:

# Wait for conversion to complete
        # ADS1x1x devices settle within a single conversion cycle
        if self.mode == Mode.SINGLE:
            # Continuously poll conversio

[2021-06-29 22:41] ladyada commented on #70
i2c must be valid, it should not be disconnected

[2021-06-30 12:57] caternuson commented on #70
Is the failure something other than disconnection? What exactly is the nature of the failure?

[2021-06-30 13:48] fabioHernandezRu commented on #70
I think is the i2c bus because when I write I2C detect I get:
` 0 1 2 3 4 5 6 7 8 9 a b c d e f 00: 03 04 05 06 07 08 09 0a 0b 0c 0d 0e 0f 10: 10 11 12 13 14 15 16 17 18 19 1a 1b 1c 1d 1e 1f 20: 20 21 22 23 24 25 26 27 28 29 2a 2b 2c 2d 2e 2f 30: 30 31 32 33 34 35 36 37 38 39 3a 3b 3c 3d 3e 3f 40: 40 41 42 43 44 45 46 47 48 49 4a 4b 4c 4d 4e 4f 50: 50 51 52 53 54 55 56 57 58 59 5a 5b 5c 5d 5e 5f 6

[2021-06-30 14:04] caternuson commented on #70
Yep, need to figure out what is causing that. Looks like a hardware issue. And in general, in that state, there's not much this library can do to work around it.

[2021-06-30 14:11] fabioHernandezRu commented on #70
thank you

[2021-06-30 14:11] #70 closed

[2021-06-30 14:54] caternuson commented on #60
Are you referring to device tree overlays? What platform are you using the ADS on? Sounds like maybe this a Raspberry Pi?

In general, use of the ASD1115 does not require any special drivers or dto's. You only need to enable I2C. Everything is done over I2c via this library.

[2021-08-19 06:55] rrsquez opened #71 "ADS1115 Addressing"
Hello, this isn't a bug, but it looks like this driver doesn't support multiple addresses. The ADS1115 has 4 addresses, so we should be able to connect 4 of them to the same I2C bus, given they each have different addresses (ADR pin to: GND, VCC, SDA or SCL).
Could you please add this feature to the next revision of this code?

Thank you, Richard Vasquez

[2021-08-19 14:09] caternuson commented on #71
There's an `address` parameter you can use to specify a non-default address.
[code]

[2021-08-19 14:31] #71 closed

[2021-09-27 16:21] FoamyGuy opened #72 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-10-30 21:15] FoamyGuy commented on #72
closed by #73

[2021-10-30 21:15] #72 closed

[2022-01-18 15:40] nlantau opened #76 "Misspelled comment"
Misspelled word in comment 'single' as 'sinlge' on line 19

https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/e11d0414d695fc7d50e9a79c732e4901c27ceeb2/examples/ads1x15_gain_example.py#L19

[2022-01-18 16:33] FoamyGuy commented on #76
@nlantau thank you. Are you interested in submitting a PR to change the spelling?

[2022-01-18 16:35] caternuson commented on #76
Yep. Thanks @nlantau

This would be a good first PR.

[2022-01-18 17:26] nlantau commented on #76
@FoamyGuy @caternuson yes, sure thing!

[2022-01-20 13:29] nlantau commented on #76
This issue has been resolved and merged into main. Closing it.

[2022-01-20 13:29] #76 closed

[2022-05-05 07:41] konstntokas opened #80 "Sampling rate changes in single mode when changing datarate but not in continuous mode"
Hi,

the code below shows a little example to test the influence of the datarate. When I am in single mode and adjust the sampling rate, I get the following result.

- 8: ~50 SPS
- 16: ~90 SPS
- 64: ~160 SPS
- 128: ~200 SPS

When I use  continuous mode and adjust the datarate, nothing changes at all.
Can somebody explain this? According to the datasheet of ADS1115 I expected that the datarate does

[2022-05-05 15:17] caternuson commented on #80
This is related to how the library handles SINGLE mode vs. CONTINUOUS mode. See the discussion here:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/issues/27

What is your specific goal in terms of reading the ADS1115? Do you require super-fast-reading? Or are you just curious about the noted behavior?

[2022-05-10 05:27] konstntokas commented on #80
Thanks fro redirection to #27 . This explains more.  In the beginning I have the understanding that if the data rate is low, internal averaging is performed. But this is wrong as far as I can see. Now I am just curious.
So in CONTINUOUS mode the values are read as quick as possible? However I still do not understand why in SINGLE mode the data rate has an influence, because it is a single shot/rea

[2022-05-10 15:49] caternuson commented on #80
Those kinds of details are best determined from the datasheet.
https://learn.adafruit.com/adafruit-4-channel-adc-breakouts/downloads

[2022-05-10 15:49] #80 closed

[2022-05-17 14:17] Yingliangzhe opened #81 "SINGLE and CONTINUOUS mode have different voltage value"
Hello everyone,
I am a little bit confused by the SINGLE and CONTINUOUS mode of ads1115.
I use the following code to test.

[code]

If I use the CONTINUOUS mode, the output is like this:

[code]

If I switch the mode the SINGLE, it gives me the following:

[code]

The measurement values from SINGLE mode are actually right.
Does someone know, what is the problem?

Thank you!

[2022-05-17 14:28] caternuson commented on #60
Closing due to lack of response.

[2022-05-17 14:28] #60 closed

[2022-05-17 14:35] caternuson commented on #81
The raw count values generally agree between the two outputs. Are you able to vary the input voltage? If so, try that and see if the raw values track as expected - that is, see if you get the same readings in terms of ADC counts with both SINGLE and CONTINUOUS with some new input voltage.

[2022-05-17 15:03] Yingliangzhe commented on #81
@caternuson
I actually expect some noise from the each measurement. But it seems the same.
So I thought, if I should use CONTINUOUS mode.

[2022-05-17 15:05] caternuson commented on #81
OK, try changing your loop code to this:
[code]

[2022-05-17 15:13] sgrobler commented on #81
I ran your code on my ads1115/raspberry pi but I don't seem to get the same issue.

[2022-05-17 15:14] Yingliangzhe commented on #81
The output of CONTINUOUS mode is almost the same as that of SINGLE mode.

Just because of changing the place of printing voltage?

[2022-05-17 15:16] Yingliangzhe commented on #81
But I still have the problem, if I print the voltage just after the raw counts.

[2022-05-17 15:44] Yingliangzhe commented on #81
pip freeze tells me:
adafruit-circuitpython-ads1x15==2.2.12
Maybe not the latest version.

OK.
Thank you for helping.

[2022-05-17 15:50] caternuson commented on #81
Thanks. That's latest enough. It has the latest code, for the code that matters.

@sgrobler What's your setup? Curious why you did not see the issue.

[2022-05-18 07:28] Yingliangzhe commented on #81
@caternuson
OK. I am just a little bit admired, why the order of printing matters.
I think if I just use the voltage of a channel should be fine.

The Voltage_divider is for the conversion from my measurement to the real value.
Because there are 2 resistors (15k + 10k) in a series connection. I only measure the voltage of 10k.

[2022-05-18 14:22] sgrobler commented on #81
@caternuson
I have an old Rpi Model B r2 + ads1115
adafruit-circuitpython-ads1x15 v2.2.13
adafruit-circuitpython-busdevice v5.1.8

[2022-05-20 09:04] Yingliangzhe commented on #81
Hello @caternuson,
sorry for the late repsonse. I couldn't connect to the rpi during these days.
Now I have tested it again, following are the ouputs:

[code]

[code]

So both modes provide almost the same output.
Don't know what happened before. :(

[2022-05-20 14:40] caternuson commented on #81
OK, no worries. Will close this for now. If it happens again and issue can be recreated, can reopen and take another look.

[2022-05-20 14:40] #81 closed

[2022-08-23 21:45] scirelli-c1 opened #82 "Code of Conduct in README is broken"
Code of Conduct in README is broken. I get a 404.
https://github.com/adafruit/Adafruit_CircuitPython_CircuitPython_ADS1x15/blob/main/CODE_OF_CONDUCT.md

[2022-08-23 21:48] scirelli-c1 opened #83 "Missing Type Annotations"
Is there a typing stub for this repo? If not would you accept a PR to add typing?

[2022-08-25 16:00] thuyet-mt14072508 opened #84 "[SOLVED] OSError: [Errno 121] Remote I/O error"
Does anyone know how to fix this error?

[2022-08-25 16:24] thuyet-mt14072508 commented on #84
yeah. I'm so sorry, the problem is my connection between pi and ads. Thank you so much for your supporting!!!!

[2022-08-25 16:53] #84 closed

[2022-08-30 17:52] tekktrik commented on #83
Not currently, but a PR is welcome!  If you can add the typing information inline like our other libraries, that would be fantastic!

[2022-08-30 17:54] tekktrik commented on #82
Proper link is https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/main/CODE_OF_CONDUCT.md, do you wanna submit a PR fix?

[2022-08-30 21:15] scirelli-c1 commented on #82
Sure! I'll work on it tomorrow

[2022-08-30 21:16] scirelli-c1 commented on #83
I'll give it a shot. It might take me a little while to get the project up and running so I can test that I don't break anything :-D

[2022-08-31 13:11] scirelli commented on #82
Hi @tekktrik, I just realized I created this PR but I'm not aware of any contributing guidelines for this project. The contributing section only has the Code of Conduct. Please let me know if there's anything I need to do/missed with this PR and the next one I'll pick up #83.

[2022-08-31 13:47] scirelli commented on #83
@tekktrik Could you point me to some docs on how to setup the dev environment for this project?

I can not find documentation on how to setup the development environment. It looks like the project users pylint (I see a lint rc) and pre-commit (I see that config file as well). I assumed the optional_requirements file was for devs but it's empty.

If there's nothing like that, should I create a PR t

[2022-08-31 13:48] #82 closed

[2022-08-31 13:53] tekktrik commented on #83
No need to add a dependency to `mypy` as we aren't tying ourselves to it at this stage.  You should be all set for development if you can use `pre-commit` and build the `sphinx` documentation:

https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library/check-your-code
https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library/sharing-our-docs-on-readthedocs

[2022-08-31 14:17] scirelli commented on #83
My python version is `Python 3.10.4`
pip is at `pip 22.0.4`

Should I be using a specific version?

[2022-08-31 14:54] tekktrik commented on #83
Nope, the CI will use Python 3.10!  Do note that the minimum version supported by Blinka is Python 3.7, so note that all type annotations added must be supported by that.

[2022-09-07 22:31] #83 closed

[2022-10-09 09:16] chubohao opened #87 "busio.i2c issue"
Hello,

I am using this driver on my Computing Module 4, and I using the I2C3, but the busio.i2c prompted " ValueError: No Hardware I2C on (scl,sda)=(5, 4), Valid I2C ports: ((1, 3, 2), (0, 1, 0), (10, 45, 44))", does it mean that the i2c3 of CM4 is not supported by buiso?

Best wishes and looking forward to your reply.

Bohao

[2022-10-10 19:50] tekktrik commented on #87
It looks like Blinka only defines those 3 ports as valid I2C ports.  If you're looking for help with specific issues relating to the CM4 and how to possibly use other ports, try using the Adafruit Support Forums or the Adafruit Discord server where you'll have better luck.  Thanks!

[2022-10-10 19:50] #87 closed

[2022-10-18 03:44] rdagger opened #88 "Any plans to implement the comparator?"
The ability to utilize the built-in traditional or windowed comparator in either latching or non-latching mode would be very useful.

[2022-10-20 22:10] tekktrik commented on #88
I don't think there are any plans currently, but we would love to receive a PR for it!  Is that something you'd be interested in doing?

[2022-10-25 09:14] PyDeps opened #89 "Project dependencies may have API risk issues"
Hi, In **Adafruit_CircuitPython_ADS1x15**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk o

[2022-10-31 20:40] tekktrik commented on #89
I don't think a change like this makes sense for our project or needs.  Thanks for offering though!

[2022-10-31 20:40] #89 closed

[2022-11-11 08:16] jrafolsr opened #90 "ADS1015 returning 16 bits?"
Hej!

I am using the ads1015 in single ended mode and getting 16 bits when I ask for the value. If it is allegedly a 12 bits ADC shouldn't I get 4096 as the maximum value? Am I missing something?

Thanks a lot,

Joan

[2022-11-11 13:54] CamDavidsonPilon commented on #90
Are you _sure_ it's an ads1015 and not a ads1115 you have?

[2022-11-11 14:27] jrafolsr commented on #90
Hej! I am pretty sure it is the ads1015, I am using the version from SparkFun Qwiic (12-bit) ADC, which only exists fot the 12 bits (and it is specified in the board).

Here is the snippet of the code I use to check the value:

[code]

thanks!

[2022-11-15 20:49] tekktrik commented on #90
The returned value gets stretched to be 16 bits even if it's coming from 12-bit resolution.  I assume that this is so it can be used as a drop in solution for onboard ADCs that also return 16 bit values.

https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/blob/1554279746863bf07b7e9f770cd9f62c33d027df/adafruit_ads1x15/analog_in.py#L53-L55

[2022-11-17 09:33] jrafolsr commented on #90
Oh! I see, I missed that, I didn't get at first this bit shifting operator.
Problem solved then. Thanks!

[2022-11-17 09:33] #90 closed

[2022-11-17 16:12] caternuson commented on #90
Just commenting to confirm the shifting is intentional and is simply a CircuitPython specific design decision. Main motivation is to have a consistent behavior for the `value` property regardless of ADC being used:
https://docs.circuitpython.org/en/latest/shared-bindings/analogio/index.html#analogio.AnalogIn.value

This is similar to Arduino's `analogRead()` returning 10 bit values by default.